body.terminal-mode {
	article.resume-wrapper {
		padding: 20px 20px 0 !important;

		.resume-contact {
			.tel,
			.adr {
				display: none;
			}
		}
		.resume-body,
		hr {
			display: none;
		}

		.resume-intro .media {
			position: relative;
			flex-direction: column !important;

			#close-terminal {
				margin-bottom: -35px;
				z-index: 9;
			}

			> div:first-child {
				position: absolute !important;
				right: 0;
			}

			.media-body {
				width: 100%;
				justify-content: center;
				align-items: center;
				display: flex;
				flex-direction: column;
			}
		}
	}

	footer {
		display: none;
	}

	cloudflare-app#cloudflare-app-google-translate {
		display: none !important;
	}

	@keyframes glitch {
		2%,
		64% {
			transform: translate(2px, 0) skew(0deg);
		}
		4%,
		60% {
			transform: translate(-2px, 0) skew(0deg);
		}
		62% {
			transform: translate(0, 0) skew(5deg);
		}
	}

	.resume-name {
		animation: glitch 3s linear infinite;
	}

	.resume-name:before,
	.resume-name:after {
		content: "EMIRCAN ERKUL";
		position: absolute;
		left: 0;
	}

	.resume-name:before {
		animation: glitchTop 1s linear infinite;
		clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
	}

	.resume-name:after {
		animation: glitchBotom 1.5s linear infinite;
		clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
		-webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
	}

	@keyframes glitchTop {
		2%,
		64% {
			transform: translate(2px, -2px);
		}
		4%,
		60% {
			transform: translate(-2px, 2px);
		}
		62% {
			transform: translate(13px, -1px) skew(-13deg);
		}
	}

	@keyframes glitchBotom {
		2%,
		64% {
			transform: translate(-2px, 0);
		}
		4%,
		60% {
			transform: translate(-2px, 0);
		}
		62% {
			transform: translate(-22px, 5px) skew(21deg);
		}
	}
}
