    <script type="text/javascript">
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/sw.js');
            });
        }
    </script>
    {{ $style_terminal := resources.Get "scss/terminal-mode.scss" | resources.ExecuteAsTemplate "scss/terminal-mode.scss" . | toCSS (dict "targetPath" "assets/css/terminal-mode.css") | minify | fingerprint }}
    <script>
        window.profile_animation = {
            video: false,
            image: document.querySelector(".resume-profile-image"),
            init: function () {
                if (!this.video) {
                    var image = document.querySelector(".resume-profile-image");
                    
                    image.style.transition = 'all .5s linear';
                    var video = document.createElement("video");
                    video.height = 87;
                    video.width = 87;
                    video.preload = 'auto';
                    video.style = "position: absolute; left: 15px; top: 15px; clip-path: circle(50%);";
                    video.style.visibility = 'hidden';
                    
                    var effect_timer = null;

                    video.addEventListener('play', function (e) {
                        video.style.visibility = 'visible';
                        effect_timer = setInterval(function () {
                            var currentTime = e.srcElement.currentTime;
                            if (currentTime < 0.5 || currentTime > e.srcElement.duration - 0.5) 
                            {
                                image.style.opacity = 1;
                                image.style.filter = '';
                            }
                            else {
                                image.style.opacity = 0.5;
                                image.style.filter = 'grayscale(1)';
                            }
                        }, 30);
                    });

                    video.addEventListener('ended', function (e) {
                        video.style.visibility = 'hidden';
                        clearInterval(effect_timer);
                    });

                    var source = document.createElement("source"); 
                    source.type = "video/mp4";
                    source.src = "assets/videos/avatar.mp4";
                    video.appendChild(source);
                    var target = image.parentElement;
                    target.style = "position: relative";
                    this.video = target.appendChild(video);

                    if (this.play_when_triple_click) {
                        image.addEventListener('click',  (e) => {
                            if (e.detail === 3) {
                                this.play();
                            }
                        });
                    }

                    if (this.play_when_user_leave) {
                        window.document.addEventListener("mouseout", (e) => {
                            if (e.clientY <= 1) {
                                this.play();
                            }
                        });
                    }

                    if (this.play_after_90_second) {
                        setTimeout(() => {
                            this.play();
                        }, 85000);
                    }
                }
            },
            play: function() {
                if (!this.video) this.init();
                this.video.play();
            },
            play_when_triple_click: true,
            play_when_user_leave: true,
            play_after_90_second: true,
        };
        
        setInterval(() => {
            window.profile_animation.init();
        }, 3000);

        window.terminal_mode = {
            once: false,
            temp: null,
            init: function () {
                if (this.once == false) {
                    document.head.insertAdjacentHTML( 'beforeend', '<link rel="stylesheet" href="{{ $style_terminal.Permalink }}">' );
                }

                let terminalWrapper = document.querySelector('.resume-intro .media-body');
                if (!this.once) {
                    this.temp = terminalWrapper.innerHTML;
                }

                document.querySelector('body').classList.add('terminal-mode');

                let closeIframeTerminal = document.createElement('a');
                closeIframeTerminal.href = 'javascript:window.terminal_mode.toggle()';
                closeIframeTerminal.id = 'close-terminal';
                closeIframeTerminal.innerText = 'Click here to turn off terminal mode';
                terminalWrapper.replaceChildren(closeIframeTerminal);

                let iframeTerminal = document.createElement('iframe');
                iframeTerminal.src = 'https://terminal.emircanerkul.com';
                iframeTerminal.height = '520px';
                iframeTerminal.width = '100%';
                iframeTerminal.style = 'border: none'
                terminalWrapper.appendChild(iframeTerminal);

                this.once = true;
            },
            destroy: function () {
                let terminalWrapper = document.querySelector('.resume-intro .media-body');
                terminalWrapper.innerHTML = this.temp;
                document.querySelector('body').classList.remove('terminal-mode');
            },
            toggle: function () {
                if (window.innerWidth < 999) return;
                if (document.body.classList.contains('terminal-mode')) {
                    this.destroy();
                } else {
                    this.init();
                }
            }
        }

        document.addEventListener('keydown', (e) => {
            if (e.repeat) return;
            if (e.keyCode == 27) window.terminal_mode.toggle();
        });
    </script>

    {{ template "_internal/google_analytics_async.html" . }}
